html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
}

#root {
	min-height: 100vh;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app > main {
	flex: 1 0 auto;
}

.app > .footer {
	flex: 0 0 auto;
	margin: 0;
}
