.navbar {
	position: absolute;
	z-index: 20;

	top: 18px;
	left: 50%;
	transform: translateX(-50%);

	width: min(calc(100% - 80px), 1200px);

	display: flex;
	align-items: center;
	gap: 30px;

	padding: 12px 18px;

	color: white;
}

.navbar__logo {
	display: flex;
	align-items: center;
	gap: 5px;

	margin-right: auto;

	font-size: 18px;
}

.navbar__logo strong {
	font-size: 18px;
	letter-spacing: -1px;
}

.navbar__logo span {
	font-size: 5px;
	line-height: 1.05;
	letter-spacing: 0.4px;
}

.navbar__links {
	display: flex;
	align-items: center;
	gap: 30px;

	padding: 17px 40px;

	background: rgba(40, 56, 69, 0.52);
	backdrop-filter: blur(20px);

	border-radius: 30px;
}

.navbar__links a {
	font-size: 12px;
	transition: opacity 0.2s;
}

.navbar__links a:hover {
	opacity: 0.7;
}

.navbar .button {
	white-space: nowrap;
}

.navbar__menu {
	display: none;
}
